#container {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
}

#items {
  background: no-repeat center/cover url("images/closet.jpg");
  flex: 10;
}

#people {
  flex: 20;
  height: 100%;
  background: no-repeat center url("images/stagebgedit.png");
}

#person {
  width: 250px;
  height: 600px;
  margin: 0 auto;
  background: url("images/adamnew.png") no-repeat;
  background-size: contain;
  position: relative;
}

#person_hat {
  top: 5px;
  border: 1px ;
  width: 75px;
  height: 85px;
  position: absolute;
  left: 78px;
}

#person_shirt {
  border: 1px ;
  width: 180px;
  height: 170px;
  position: absolute;
  left: 30px;
  top: 100px;
}

#person_pants {
  border: 1px;
  width: 180px;
  height: 250px;
  position: absolute;
  top: 282px;
  left: 40px;
}

#table {
  background-color: white;
  border-color: black;
  display: flex;
  flex-direction: column;
  background-color: rgba(255,255,255,0.5);
}

.item-container {
  display: flex;
}

.item {
  flex: 1;
  background-size: contain;
  border: 5px solid white;
  height: 95px;
}

.item > img {
  width: 100%;
  height: 100%;
}

.text-bubble {
  border-radius: 35%; 
  padding: 15px;
  background: white;
  height: 100px;
  width: 150px;
  border: 1px solid black;
  position: relative;
  left: -175px;
  font-family: Arial Black;
  
}

.small-bubble-one{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white; 
  position: relative;
  top: -80px;
  left: 10px;
}

.small-bubble-two{
  border-radius: 60%;
  width: 10px;
  height: 10px;
  background-color: white; 
  position: relative; 
  top: -70px;
  right: -50px;
}

.small-bubble-three{
  border-radius: 55%; 
  width: 15px;
  height: 15px; 
  background-color: white; 
  position: relative; 
  top: -70px;
  right: -70px;
}
.personclothes {
  background-size: cover;
  background-position: center;
}
#container-time {
  background-color:white;
  background-color: rgba(255,255,255,0.5);
}
#container-score {
  background-color:white;
  background-color: rgba(255,255,255,0.5);
}
#Reset {
  margin: 0 auto;
}


